
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hide scrollbar for Chrome, Safari and Opera */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

