@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Atkinson Hyperlegible Next", serif;
  font-optical-sizing: auto;
}


/* Hide scrollbar for Chrome, Safari and Opera */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

